.App {
  margin: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: #f9f4ef;
  color: #8c7851;
}

#nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #eaddcf;
  width: auto;
}

#card-container {
  margin: auto;
  display: flex;
  gap: 5px;
  width: 90vw;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#color-card {
  border: 2px solid black;
  border-radius: 10px;
  width: calc((90vw / 3) - 10px);
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 2px 2px black;
}

button, .nav-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #8c7851;
  color: #f9f4ef;
  cursor: pointer;
}

#lock-btn, #bg-btn, #copy-btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

#hexcode {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

#copy-msg {
  color: red;
  background-color: #ffffff;
  font-size: small;
  padding: 2px;
}
